* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ress{
    margin: 0 auto;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    float: none;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    width: 115%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 550;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3f3936;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #d82c2e;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    border-radius: 5px;
  }
  
  .notfound a:hover {
    color: #d82c2e;
    background: #fff;
    border: 1px solid #d82c2e;
    border-radius: 5px;
  }

  .buttondown {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #d82c2e;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    border-radius: 5px;
    border:none;
  }
  
  .buttondown:hover {
    color: #d82c2e;
    background: #fff;
    border: 1px solid #d82c2e;
    border-radius: 5px;
    
  }

  input:focus{
    border-color: #d82c2e;
  }  

  input:hover{
    border-color: #d82c2e;
  }  

  input{
    border-color: #d82c2e;
  }
  input:active{
    border-color: #d82c2e;
  }
  input:

  

  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 148px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h2 {
      font-size: 16px;
    }
    .notfound a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }

  .red-text{
    color: #d82c2e;
  }